VITE_SUPABASE_URL=https://bortpvnfkrzghncmasct.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvenRwdm5ma3J6Z2huY21hc2N0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAzOTg1NjEsImV4cCI6MjA5NTk3NDU2MX0.glDeeCMPCePihWxrDfKeooLvhNApb1An0Lws_lLPAZs
